@model WebApplication1.Models.MinesweeperModel 

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table style="width: 100%">
    @{
        for (var row = 0; row < Model.SizeY; row++)
        {
            <tr>
                @{
                    for (int col = 0; col < Model.SizeX; col++)
                    {
                        <td style="width: 30%">
                            @Html.ActionLink((Model[col,row] ? "_": "X"), 
                           "GameMove", 
                           new { x = col, y = row })
                            @Html.ActionLink((Model[col,row] ? "_": "X"), 
                                "Flag", 
                                new { x = col, y = row })
                        </td>
                    }
                }
            </tr>
        }
    }

</table>
